h2{
    font-size: 40px;   
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    text-align: center;
}

span{
    color: #ed2966;
}
 
.photo-thumb{
    width:100%;
    height:auto;
    float:left; 
    border: thin solid #d1d1d1;
    margin:0 1em .5em 0;
    float:left; 
}

.product-img{
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    float:inherit;
}

/* START - Navbar */
.navbar{
    border-radius: 0px;   
    background-color: transparent; 
}

.cart-btn{
    color: #000000;
    margin-left: 3px;
    margin-right: 3px;
}

.cart-btn:hover{
    color: blue;
}

.dropdown-toggle{
    color: grey;
}

.dropdown-menu{
    padding: 5px;
}

.badge{
    background: #ed2966;
    color: white;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top: 5px;
    right: 0px;
    padding:5px;
    font-size: 60%;
}

.brand{
    height: 100%;
}

.navbar-brand {
    height: 80px;
    padding: 0px;
}

.custom-style{
    margin-bottom: 0px;
}

.mobile-nav{
    display: none;
}

.no-border{
    border: none;
}

.header-img-div{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.header-img{
    width: 100%;
    height: auto;
}

#menu-toggle{
    color: grey;
}

@media screen and (max-width: 767px) {
    .nav{
        display: none;    
    }
    
    .mobile-nav{
        display: block;
    }
}
/* END - Navbar */

/* START - Dropdown */
.errMsg{
    color: red;
    margin-bottom: 5px;
}
/* END - Dropdown*/

/*START - Products*/
.block {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.block:hover {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.02, 1.02)
}

.block::after {
  box-shadow: 0 2px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.block:hover::after {
  opacity: 1;
}

.info {
padding: 10px;
color: black;
font-weight: bold;
}
 
.details {
    padding: 10px 10px;
}
.winkelwagen-knop{
    float: right;
    background-color: pink;
    border-radius: 5px;
    border: grey;
    padding: 8px 16px;
}


.pagination {
    float: right;
    padding-right: 35px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: pink;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.toonSorteerOp{
   text-align: right;
}

.padding-15{
    padding: 15px;
}

.button-nostyle { 
    border:none; 
    background-color: transparent;
} 

.button-nostyle:focus {
    outline:0;
}
/*END - Products*/

.cart-img{
    width: auto;
    height: 100px;
}

.footer{
    margin-top: 20px;
    border-top: 1px solid black;
}

/*START - social media buttons*/
.icons {
	font-size: 25px;
}

/* Wrapper */
.icon-button {
	background-color: #FB3778;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.linkedin span {
	background-color: #1A84BC;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-linkedin {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

/* Admin login*/
.row-a {
    margin-top: 150px;
}

.size-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

 /*show users page*/

.row-c {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
}

.titel{
    color: #FF1493;
    font-size: 200%;
    margin-top: 20px;
    font-family: "Arial Black"
}

.titel2{
    color: #FF1493;
    font-family: "Arial Black"
}

/* START - top bar admin*/
.navbar-custom {
    background-color: white;
    border-radius:0;
}

.color-roze{
    color: #ed2966;
}
/* END - top bar admin*/

/* START - form icons*/
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
/* END - form icons*/

/* start - invoice*/

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}

.invoice-logo{
  height: 50px;
  width: auto;
}

@media print {
    .control-group {
      display: none;
    }
    
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
    }
}